html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
button:active {
  outline: none;
  box-shadow: none;
  transform: translateY(5px);
}
button:focus, input:focus {
  outline: none;
}
